extends layout
block content
  body
    .intro-header
      .container
        .row
          .col-lg-8-col-lg-offset-2-col-md-10-col-md-offset-1
            .page-heading
              h1 About @eatyourpeas
              hr.small
              span.subheading
                {...
                i  clinical coding
                |  ...}
    .container
      .row
        .col-lg-12-col-lg-offset-2-col-md-10-col-md-offset-1
          .col-lg-6
            .panel
              h1 Medical Background
              p @eatyourpeas is a consultant paediatrician in a London teaching hospital
              p He has a background in diabetes and endocrinology and has been coding mobile phone apps and websites for five years.
          .col-lg-6
            .panel
              h1 Hello
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum molestiae debitis nobis, quod sapiente qui voluptatum, placeat magni repudiandae accusantium fugit quas labore non rerum possimus, corrupti enim modi! Et.
