footer
  // Footer
  .container
    .row
      .col-lg-12
        ul.list-inline
          li
            a(href='#') Home
          li.footer-menu-divider ⋅
          li
            a(href='#apps') Apps
          li.footer-menu-divider ⋅
          li
            a(href='#contact') Contact
.banner
  .container
    .row
      .col-lg-6
        h2 find eatyourpeas @:
      .col-lg-6
        ul.list-inline.banner-social-buttons
          li
            a.btn.btn-default.btn-lg(href='https://twitter.com/eatyourpeas')
              i.fa.fa-twitter.fa-fw
              span.network-name Twitter
          li
            a.btn.btn-default.btn-lg(href='https://github.com/eatyourpeas')
              i.fa.fa-github.fa-fw
              span.network-name Github
          li
            a.btn.btn-default.btn-lg(href='https://www.facebook.com/eatyourpeas.co.uk')
              i.fa.fa-facebook.fa-fw
              span.network-name Facebook
          li
            a.btn.btn-default.btn-lg(href='mailto:eatyourpeasapps@gmail.com?subject=Hello eatyourpeas&body=')
              i.fa.fa-email.fa-fw
              span.network-name email
  // /.container
// /.banner
ul.pull-right.list-inline
  li
    a(href='https://github.com/eatyourpeas/eatyourpeas') GitHub Project
  li
    a(href='https://github.com/eatyourpeas/eatyourpeas/issues') Issues
container.text-center
  ul.pull-left.list-inline.copyright.text-muted.small Copyright © 2015 eatyourpeas, Inc. All Rights Reserved
  a(name='contact')
// jQuery
script(src='js/jquery.js')
// Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
