extends layout
block content
  body
    .intro-header
      .container
        .row
          .col-lg-12
            .intro-message
              h1
               {...
               i  clinical coding
               |  ...}
              h3 by eatyourpeas
              h5 medical apps designed and built by doctors
              hr.intro-divider
              ul.list-inline.intro-social-buttons
                li
                  a.btn.btn-default.btn-lg(href='https://twitter.com/eatyourpeas')
                    i.fa.fa-twitter.fa-fw
                    span.network-name Twitter
                li
                  a.btn.btn-default.btn-lg(href='https://github.com/eatyourpeas')
                    i.fa.fa-github.fa-fw
                    span.network-name Github
                li
                  a.btn.btn-default.btn-lg(href='https://www.facebook.com/Eatyourpeas.co.uk')
                    i.fa.fa-facebook.fa-fw
                    span.network-name Facebook
                li
                  a.btn.btn-default.btn-lg(href='mailto:eatyourpeasapps@gmail.com?subject=Hello eatyourpeas&body=')
                    i.fa.fa-email.fa-fw
                    span.network-name email
      // /.container
    // /.intro-header
    // Page Content
    a(name='apps')
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Resources for patients
            p.lead
              a(href='http://jamiegiraffe.co.uk') 'Diab-eaties'
              |  won third prize in NHS Hack 2015 with its
              | games for children with type 1 diabetes... Jamie the Giraffe navigates the Milky Way, learning all about type 1 diabetes along the way.
          .col-lg-5.col-lg-offset-2.col-sm-6
            img.img-responsive(src='img/jamie_giraffe.png', alt='Jamie Giraffe')
      // /.container
    // /.content-section-a
    .content-section-b
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Education and Training
            p.lead
              a(href='http://www.refract.tk') 'Refract'
              |  was developed to help trainee optometrists learn how to select the correct lenses for patients. The volunteer patient time
              | the trainees get is limited, so refract helps them to practice outside the clinic. Students refract virtual patients and notch up times.
              | They can compete with each other to be the fastest.
          .col-lg-5.col-sm-pull-6.col-sm-6
            img.img-responsive(src='img/refract.png', alt='Refract')
      // /.container
    // /.content-section-b
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | National Resources for Medical Teams
            p.lead
              a(href='www.marsipan.org.uk') 'MARSIPAN'
              | is a national group of clinicians who stand for best practice in the management of patients with eating disorders.
              | The website is more than just a sign-post for professionals and patients. It contains a BMI calculator that draws on national
              | growth chart data also.
          .col-lg-5.col-lg-offset-2.col-sm-6
            img.img-responsive(src='img/marsipan.png', alt='MARSIPAN')
      // /.container
    // /.content-section-a
    .content-section-b
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Apps for medics
            p.lead
              a(href='https://itunes.apple.com/app/id665745944') 'Bone Age'
              |  was developed to help paediatric endocrinologists score bone ages from hand x-rays. This is a skill all paediatric endocrinologists
              | have, but they have to resort to plugging their scores into computer-based software or use a book to generate a meaningful result. Bone Age
              | allows them to score an x-ray in minutes in clinic. It is available on the
              a(href='https://itunes.apple.com/app/id665745944')  iPhone
              |  and on
              a(href='https://play.google.com/store/apps/details?id=uk.co.eatyourpeas.tannerwhitehouse&hl=en')  Android.
          .col-lg-5.col-sm-pull-6.col-sm-6
            img.img-responsive(src='img/iphonedouble.png', alt='Bone Age')
      // /.container
    // /.content-section-b
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Apps for Medics
            p.lead
              a(href='https://play.google.com/store/apps/details?id=com.eatyourpeas.cliniccalculator&hl=en') 'ClinicCalculator'
              | is a mobile phone app which calculates ages from a clinic date and a date of birth. It takes into account gestational age of babies
              | born premature, and can report decimal ages also.
          .col-lg-5.col-lg-offset-2.col-sm-6
            img.img-responsive(src='img/cliniccalculator.png', alt='ClinicCalculator')
      // /.container
    // /.content-section-a
    .content-section-b
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Apps for medics
            p.lead
              a(href='http://sixcarbons.xyz') 'Six Carbons'
              |  Designed for all things glucose. It contains a tool to experiment changing rates on insulin pumps, or set up a new pump from scratch using the 'Bill Lams' method.
              | It creates a virtual pump with timeblocks to calculate rates and total doses for the main pumps on the market in the UK.
              | It also has a tool for calculating glucose requirement, taking into account milk feeds as well as glucose infusions - it contains a database of UK baby milks.
          .col-lg-5.col-sm-pull-6.col-sm-6
            img.img-responsive(src='img/dextrose_screen.png', alt='Dextrose')
